/* this is the variable declaration for the main sections' box shadows' */

:root {
  --box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.042),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.061),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.075),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.089),
  41.8px 41.8px 33.4px rgba(25, 26, 30, 0.108),
  100px 100px 80px rgb(25, 26, 31)
;
}

/* smooth scroll to avoid jumping too quickly to a section when a link is clicked */
html{
  scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(52, 52, 52);
    /* background-color: rgb(109, 157, 186); */
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Sora', sans-serif;  
font-size: 16px; 
}


header {
  width: auto;
}

h1{
  font-size: 4.75rem;
  font-weight: 100;
}

h3{
  font-size: 3.25rem;
  font-weight: 100;
}

p {
  font-size: 1.5rem;
  color: white;
  font-weight: 100;
}


#main-header{
  position:sticky;
  height: 3.25rem;
  background-color: rgba(34, 36, 42, 0.84) ;
  top: 0;
  z-index: 999;
  
}

#headerNav{
    font-size: x-large;
    display: block;
    width: 100vw;
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    z-index: 50;
}

/* larger screen navigation */
.menuLink{
  float: left;
  padding: 10px;
  /* background-color: rgba(34, 36, 42, 0.84); */
  text-decoration: none;
}

/* Name Header */

/* end name header */

#hero-container{
  margin: 0;
  height: 100vh;
  background-image:
    linear-gradient(to top, rgb(52, 52, 52) 5%, rgba(15, 43, 6, 0)),
    url('./images/katerina-kerdi--YiJvbfNDqk-unsplash.jpg');
  /* background-image:linear-gradient(to bottom, rgb(0, 25, 0) 30%, rgb(67, 164, 35)), url('./images/katerina-kerdi--YiJvbfNDqk-unsplash.jpg'); */
  background-size:cover;
  background-position: center;
  
  /* border: 3px solid; */
}

#hero-container h1, #hero-container h3{
  color: rgb(152, 97, 25);
  margin: 0;
  text-align: right;
  padding: 5px 20px;
}


/* arrow */
#arrow-container{
  width: 300px;
  height: 300px;
  margin-top: 20px;
}
.arrow {
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 3vw;
  height: 3vw;
  border-bottom: 10px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -5px;
  animation: animate 3s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

/* end arrow */

.section{
  max-width: 1000px;
  margin: auto;
}

.section-container{
  width: 100vw;
}

/* profile image */
#image-container {
  height: 300px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.066);
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
}

#profile-image{
  height: 300px;
  border-radius: 100%;
  margin-left: -20%;
  opacity: 100%;  
}

/* end profile image */


/* bio section */
#bio-container{
  padding: 0;
  background-image: url('./images/hummingbird\ grey\ fill.png');
background-position: center;
background-size: cover;
}

#bio-section{
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 25px;
  height: 100%;
  background-position: center;
  background-size: cover;
}

#bio-section h3{
  color: rgb(177, 68, 22);
  font-weight: 400;
}

.text{
padding: 20px;
border-radius: 10px;
background: rgba(0, 0, 0, 0.347);
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 10px );
}

#sm-bug{
  height: 30px;
  width: auto;
  box-shadow: 0 8px 32px 0 rgba(7, 9, 33, 0.37);
}

.three-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}



/* -----------  begins project cards ------------------*/
#projects-container{
  background-image: linear-gradient(to right, rgba(52, 52, 52, 0.909) 50%, rgba(15, 43, 6, 0)),url('./images/jonatan-lindemann-Dv89X4z6-I8-unsplash.jpg');
  background-position: center;
  background-size: cover;
  max-height: fit-content;
  min-height: 100vh;
}

#projects-container h3{
  color: rgb(177, 68, 22);
  font-weight: 400;
}


#projects{
  color: #b4b4b4;
  background-position: center;
  background-size: cover;
  margin-top: 150px;
  padding: 25px;
}


.project-card{
  color: #999;
  padding: 1rem;
  font-weight: bold;
  border: 2px solid rgb(171, 171, 171);
  background-color: #000000bc;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.project-summary{
  font-size: small;
  margin-top: 30px;
}

.project-card:hover{
  color: #0e0101;
  background-color: rgba(177, 173, 49, 0.791);
}

.project1.active, .project2.active, .project3.active{
  color: #d4d4d4;
  border: 3px solid rgb(170, 170, 29);
  background-color: rgba(56, 66, 32, 0.724);
  border-top-left-radius: 30px;
  
}

#project-video-container{
  width: fit-content;
  /* margin:auto; */
  margin-top: 20px;
  border: 3px solid #515250;
  background-color: #39393e;
  border-radius: 10px;
  padding: 10px;
  display: none;
}

#dynamic-video video{
  width: 100%;
  
}

/* end project cards */

/* begin blog cards */
#posts-container h3{
  color: rgb(177, 68, 22);
  font-weight: 400;
}
#posts{
  color: #b4b4b4;
  /* margin-top: 100px; */
  height: fit-content;
  padding: 1.5rem;
}

#card-container{
    display: grid;
    gap: 1rem;
    grid-template-areas:
    "one two three"
    "one two four"
    "five five five"
;
}

.post-card{
    border-width: 3px;
    border-style: solid;
    border-color: rgb(113, 113, 113);
    padding: 0.5rem 1rem;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.185);
}

.post-card:nth-child(1){
  grid-area: one;
  background-color: rgba(67, 59, 54, 0.782);
  background-image: linear-gradient(to bottom, rgb(58, 58, 58) 20%, rgba(52, 52, 52, 0.553)), url("./images/lautaro-andreani-UYsBCu9RP3Y-unsplash.jpg");
  background-position: center;
}

.post-card:nth-child(1):hover{
 
  background-size: cover;
  background-position: right;
  border: 3px solid whitesmoke;
  border-top-left-radius: 50px;
}

.post-card:nth-child(2){
  grid-area: two;
  background-color: rgba(165, 63, 42, 0.234);
  background-image: linear-gradient(to bottom, rgb(58, 58, 58) 20%, rgba(52, 52, 52, 0.553)), url("./images/jason-d-fN4zr3xUzIY-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.post-card:nth-child(2):hover{
  background-size: cover;
  background-position: right;
  border: 3px solid whitesmoke;
  border-top-left-radius: 50px;
}

.post-card:nth-child(3){
  grid-area: three;
  background-color: rgba(138, 165, 42, 0.255);
}

.post-card:nth-child(3):hover{
  background-image: linear-gradient(to bottom, rgb(58, 58, 58) 10%, rgba(52, 52, 52, 0)), url("./images/joshua-fuller-p8w7krXVY1k-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid whitesmoke;
  border-top-left-radius: 50px;
}

.post-card:nth-child(4){
  grid-area: four;
  background-color: rgba(42, 165, 50, 0.315);
}

.post-card:nth-child(4):hover{
  background-image: linear-gradient(to bottom, rgb(58, 58, 58) 15%, rgba(52, 52, 52, 0)), url("./images/maksym-kaharlytskyi-1KdnEeZ-gLU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid whitesmoke;
  border-top-left-radius: 50px;
}

.post-card:nth-child(5){
  grid-area: five;
  background-color: rgba(42, 126, 165, 0.362);
}

.post-card:nth-child(5):hover{
  background-image: linear-gradient(to bottom, rgb(58, 58, 58) 15%, rgba(52, 52, 52, 0)), url("./images/muneeb-syed-pueWrwi9_WY-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border: 3px solid whitesmoke;
  border-top-left-radius: 50px;
}


.blog-title {
  padding: 3px;
  color: rgb(207, 90, 47);
}

.blog-summary{
  font-size: small;
  background-size: contain;
}

.large-card{
  background-image: url('./images/hummingbird\ grey\ fill.png');
  background-size: contain;
  height: 200px;
}





/* end blog cards */


/* contact section */
#contact{
  margin-top: 25px;
  padding: 25px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #999;
}

#contact h3{
  color: rgb(177, 68, 22);
  font-weight: 400;
}

#contact-container {
  padding: 20px;
  border-width: 5px;
  border-color: #39393e;
  border-style: double;
  border-radius: 30px;
}

#contact-input{
  display: grid;
  /* height: 60vh; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  text-align: center;
  margin: 10px;
}

#contact-form{
  padding: 10px;
  margin: 20px;
}

#contact-greeting{
  text-align: center;
}

input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}

/* Style for the input field when it's focused */
#name:focus, #email:focus, #message:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline:rgba(0, 144, 222, 0.564);
  outline-style:double;
  outline-width: 7px;
}

.submit-button {
margin-top: 3px;
cursor: pointer;
}

/* end contact */

@media screen and (max-width: 40rem) {
  #projectcard-container{
    display: grid;
    grid-template-columns:1fr;
    gap: 2rem;
  }

  #card-container{
    grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
  }
}

@media screen and (min-width: 40rem) {
  #projectcard-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 2rem;
  }

  #card-container{
    grid-template-areas:
    "one two three"
    "one two four"
    "X five five"
  }
}


/* small screen navigation pop-up */
#small-screen-menu{
  text-size-adjust: none;
  opacity: 80%;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 20%;
  margin-left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index:5;
  background-color: black;
  border-radius: 10px;
  animation: fadeIn  1s;
}


/* small screen navigation styling */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 81%; }
  }
  
.smallMenuLink a:link, a:visited{
    color: #fff;
}
.smallMenuLink{
    text-align: center;
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 2rem;
}

nav {
    margin:auto;
    width:fit-content;
}

a:link { 
    text-decoration: none;  
    font-size: 1em
}

.icon-bar
{
    width: 30px;
    height: 2px;
    display: block;
    background-color: #fff;
    margin: 9px;
}

/* small screen nav */

#smallScreenNav {
  width: fit-content;
  height: 50px;
  background-color: rgb(171, 171, 171);
  border-radius: 4px;
  margin: 1em;
  display: block;
  position: fixed;
  padding: 1em;
  top: 0;
  cursor: pointer;
  z-index: 999;
}

/* ---------------------hamburger menu ----------------------------*/

#togglenav {
    display: none;
}
.burger-wrapper {
    margin: auto;
    width: 50px;
    height: 40px;
    cursor: inherit;
    z-index: 2;
  }
  .burger-wrapper .hamburger {
    background: rgb(0, 0, 0);
    width: 50px;
    height: 5px;
    position: relative;
    transition: background 10ms 300ms ease;
    transform: translateY(20px);  
  }

  .burger-wrapper .hamburger:before, .burger-wrapper .hamburger:after {
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    position: absolute;
    background: rgb(0, 0, 0);
    width: 50px;
    height: 5px;
    content: "";
  }

  .burger-wrapper .hamburger:before {
    top: -15px;
  }
  .burger-wrapper .hamburger:after {
    top: 15px;
  }


/* Media query for screen */

@media (hover: none) {

 #hero-text{
    font-size: 2em;
  }
  .text{
    font-size: 2em;
  }
  #projectcard-container{
    display: grid;
    grid-template-columns: 1fr;
  }

  .project-card h4{
    font-size: 2em;
    text-size-adjust: none;
  }

  .project-summary{
    font-size: 1.5em;
    text-size-adjust: none;
  }

  .post-card h4{
    font-size: 1.5em;
    text-size-adjust: none;
  }


 .blog-summary, .project-summary, #contact-container {
    font-size: 1.5em;
    text-size-adjust: none;
  } 



   
    #card-container{
      grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
    }

 
}

@media screen and (orientation: landscape){
  #small-screen-menu {
    font-size: x-small;
    top: 0;
    padding-top: 10px;
  }

  .smallMenuLink {
    padding: 20px;
  }
 
}


  /* toggle burger nav styling - Media query for screen width 768 pixels and above */
@media screen and (min-width: 768px) and (orientation: portrait) {

  #smallScreenNav {
    width: fit-content;
    height: 130px;
    background-color: rgb(137, 137, 137);
    border-radius: 8px;
    margin: 1em;
    padding: 0px;
    display: block;
    position: fixed;
    top: 0;
    cursor: pointer;
    z-index: 999;
  }

  .smallMenuLink{
    font-size: 4em;
    padding: 30px;
  }

  .burger-wrapper .hamburger {
    margin: 40px;
    background: rgb(0, 0, 0);
    width: 10vw;
    height: 7px;
  }

  .burger-wrapper .hamburger:before, .burger-wrapper .hamburger:after {
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    position: absolute;
    background: black;
    width: 10vw;
    height: 7px;
    content: "";
  }
  
  .burger-wrapper .hamburger:before  {
    top: -30px;
  }

  .burger-wrapper .hamburger:after  {
    top: 30px;
  }

  /* adjust spacing for heading sections */
  #bio-section, #projects, #posts{
    padding-top: 5vh;
  }
}

  /* activate show menu behavior */
  .menu-trigger:checked ~ .burger-wrapper .hamburger {
    background: transparent;
  }
  .menu-trigger:checked ~ .burger-wrapper .hamburger:after, .menu-trigger:checked ~ .burger-wrapper .hamburger:before {
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    top: 0;
  }
  .menu-trigger:checked ~ .burger-wrapper .hamburger:before {
    transform: rotate(45deg);
  }
  .menu-trigger:checked ~ .burger-wrapper .hamburger:after {
    transform: rotate(-45deg);
  }
  
  .hidden {
    display: none;
  }

  /* ----------------------end hamburger menu code--------------- */
